services:
  - type: web
    name: news-classifier-api
    env: python
    plan: free
    rootDir: backend
    buildCommand: "pip install -r requirements.txt"
    startCommand: "python server.py"
    envVars:
      - key: MONGO_URL
        sync: false  # nilai diatur manual di dashboard Render
      - key: DB_NAME
        value: klasifikasi_berita
      - key: CORS_ORIGINS
        value: https://news-classifier-frontend-ten.vercel.app/
